@import "../../../assets/styles/variables";

.productImage {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: contain;
}

.primaryButton {
  height: 50px;
  border: none;
  border-radius: 0 10px;
  color: $white-color;
  background-color: $primary-color;
  font-weight: 500;
  width: auto;
  margin-left: 10px;
}
.secondaryButton {
  height: 50px;
  border-radius: 0 10px;
  color: $black-color;
  border: 2px $primary-color solid;
  background-color: $white-color;
  font-weight: 500;
  width: auto;
}
