@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Schoolbell&display=swap");

// Fonts
$font-primary: "Montserrat", sans-serif;

// Colors
$light-gray: #b5b5b5;
$white-color: #ffffff;
$black-color: #020126;
$blue-color: #030A8C;
$primary-color: #B385F2;
